p {
    margin: 0 !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.required {
    color: red;
}
.text-pink {
    color: #F25278;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #F25278 !important;
}
.fa-plus {
    font-size: 40px;
}

col {
    padding: 0 !important;
}
.btn-pink-color {
    background-color: #F25278 !important;
    color: #fff !important;
}
.btn-pink {
    background-color: #F25278 !important;
    color: #fff !important;
    border-radius: 20px !important;
}
.btn-pink:hover {
    opacity: .7;
}
.text-pink {
    color: #F25278;
}
.text-pink:hover {
    color: #F25278;
    opacity: .7;
}

/* left side */
.left_side {
    background-color: #F25278;
    color: #fff;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 30px;
}

.left_side .brand-logo {
    width: 120px;
}

.left_side .dog {
    max-width: 500px;
}

/* right side */
.pink_header {
    background-color: #F25278;
    color: #fff;
    max-width: 450px;
    padding: 10px 20px;
    text-align: left;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    min-height: 100px;
}


.landing_page .row .right_side {
    background-image: url("../img/dogbones.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 20px !important;
}

.landing_page .row .right_side form {
    margin-top: -40px;
    border-radius: 20px;
    background-color: #fff;
    width: 450px;
    padding: 30px 20px;
    text-align: left;
    box-shadow: 5px 15px 40px;
}

@media (max-width: 1025px) {
    .left_side .dog {
        max-width: 300px;
    }
}
@media (max-width: 825px) {
    .landing_page .row .right_side {
        padding-bottom: 140px !important;
    }
}
@media (max-width: 530px) {
    .landing_page .row .right_side form, .pink_header {
        width: 100%;
    }
}